.exam-table {
    margin: auto;
    max-width: 90%;
    height: 100vh;
    overflow: hidden;
}

.table-container, .exam-table-row {
    height: 100%;
}

.table-container {
    display: flex;
    align-items: center;
}

.exam-img {
    width: 125px;
}