.exam-table {
    margin: auto;
    height: 100vh;
    overflow: hidden;
}

.exam-img {
    width: 125px;
}

.exam-table-row, .checkbox-cell {
    height: 100%;
}

.checkbox-cell {
    display: flex;
    align-items: center;
}
